[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
scipy = "*"
seaborn = "*"

[requires]
python_version = "3.7"

[dev-packages]
