<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}

{% load static %}
<!-- 
  <div class="split left">
    <div class="centered">

      <form method="post">
        {% csrf_token %}
        {{ form.as_p  }}
        <button type="submit">Submit</button>
      </form>

    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <h1>Results</h1>
    </div>
  </div> -->

  <div class="d-md-flex h-md-100 p-5 justify-content-center">

   
    <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p  }}
                <button type="submit" type="file" accept="text/plain">Compute</button>
              </form>
              {% if errormsg %}
              Input file printed below
              {% endif %}
  
            </div>
          </div>
          {% if errormsg %}
            {% for arg in inputdata %}
            {{ arg }}
            <br>
            {% endfor %}
          {% endif %}
    
    </div>
    
    
    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">

      {% if errormsg %}
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  Computational time: {{ comp_time }} seconds
      {% endif %}


      <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
          <!-- <h1>Results</h1> -->
          {% if errormsg %}
            <!-- <img style="max-width: 110%;  max-height: 110%;" src={{ impagepath }}/> -->
            <img style="max-width: 110%;  max-height: 110%;" src="data:image/png;base64,{{ graphic|safe }}">
          {% else %}
            <h3>{{ msg }}</h3> 
          {% endif %}


        </div>
    </div>        
    </div>



{% endblock content %}
